/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

html, body, #root {
  height: 100%;
}

#main-container {
  flex-grow: 1 !important;
  overflow: auto !important;
  display: flex !important;
  justify-content: center;
}

#layout-container {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 1541px) {
  .adaptive-flex-stats-card {
    flex-direction: column !important;
  }
  .adaptive-stat-command {
    flex-direction: column !important;
  }
}

@media (max-width: 693px) {
  .adaptive-input {
    width: 200px !important;
    display: flex !important;
    justify-content: center !important;
  }
}

@media (max-width: 531px) {
  .adaptive-pagination-btn {
    padding: 1px !important;
    font-size: 0.9rem !important;
  }
  .adaptive-input-date {
    width: 53px !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

footer {
  flex-shrink: 0;
  padding: 10px;
  text-align: center;
}